spring:
  data:
    mongodb:
      uri: mongodb+srv://udaykumarkella67:frod02zmjQhhhqbR@cluster0.wwn8ujw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      database: journaldb
      auto-index-creation: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: kellauday04@gmail.com
    password: sjno ryni uszl dlda
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  redis:
    host: localhost
    port: 6379



server:
  port: 8080
#  servlet:
#    context-path: /jApp